<div class="container-fluid">
  <div class="row-fluid">
    <%= render 'layouts/sidebar' %>

    <div class='span9'>
    <div class='row-fluid'>
    
  
    <%= render 'table_interviewees' %>

    </div>
    </div>
  </div>
</div>


<!--
<h1>Listing interviewees</h1>

<table>
  <tr>
    <th>First name</th>
    <th>Last name</th>
    <th>Nationality</th>
    <th>Address</th>
    <th>Postal code</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @interviewees.each do |interviewee| %>
  <tr>
    <td><%= interviewee.first_name %></td>
    <td><%= interviewee.last_name %></td>
    <td><%= interviewee.nationality %></td>
    <td><%= interviewee.address %></td>
    <td><%= interviewee.postal_code %></td>
    <td><%= link_to 'Show', interviewee %></td>
    <td><%= link_to 'Edit', edit_interviewee_path(interviewee) %></td>
    <td><%= link_to 'Destroy', interviewee, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Interviewee', new_interviewee_path %>
-->