<div class="container-fluid">
  <div class="row-fluid">
    <%= render 'layouts/sidebar' %>

    <div class='span9'>
    <div class='row-fluid'>
    <div class='content' data-pjax-container>

    <%= render 'form_interviewee_nav' %>
    
    <div class='fieldset'>
      <h4>Basic info</h4>
      <table class="table">
        <tr>
            <td>
              <label>First Name</label><span class="input-xlarge uneditable-input"><%= @interviewee.first_name%></span>
            </td>
            <td>
              <label>Last Name</label><span class="input-xlarge uneditable-input"><%= @interviewee.last_name%></span>
            </td>
        </tr>
        <tr>
            <td>
              <label>Address</label><span class="input-xlarge uneditable-input"><%= @interviewee.address%></span>
            </td>
            <td>
              <label>Postal Code</label><span class="input-xlarge uneditable-input"><%= @interviewee.postal_code%></span>
            </td>
        </tr>
        <tr>
            <td>
              <label>Gender</label><span class="input-xlarge uneditable-input"><%= @interviewee.gender%></span>
            </td>
            <td>
              <label>Race</label><span class="input-xlarge uneditable-input"><%= @interviewee.race%></span>
            </td>
        </tr>
        <tr>
            <td>
              <label>Mobile</label><span class="input-xlarge uneditable-input"><%= @interviewee.mobile%></span>
            </td>
            <td>
              <label>Telephone</label><span class="input-xlarge uneditable-input"><%= @interviewee.telephone%></span>
            </td>
        </tr>
        <tr>
            <td>
              <label>Religion</label><span class="input-xlarge uneditable-input"><%= @interviewee.religion%></span>
            </td>
            <td>
              <label>Email</label><span class="input-xlarge uneditable-input"><%= @interviewee.email%></span>
            </td>
        </tr>
        <tr>
            <td>
              <label>Date of Birth</label><span class="input-xlarge uneditable-input"><%= @interviewee.dob%></span>
            </td>
        </tr>
        <tr>
            <td>
              <label>Specialization</label><span class="input-xlarge uneditable-input"><%= @interviewee.specialization%></span>
            </td>
            <td>
              <label>Prefer Industry</label><span class="input-xlarge uneditable-input"><%= @interviewee.prefer_industry%></span>
            </td>
        </tr>
        <tr>
            <td>
              <label>Country</label><span class="input-xlarge uneditable-input"><%= @interviewee.country%></span>
            </td>
            <td>
              <label>State</label><span class="input-xlarge uneditable-input"><%= @interviewee.state%></span>
            </td>
        </tr>
        <tr>
            <td>
              <label>Willing to Travel</label><span class="input-xlarge uneditable-input"><%= @interviewee.willing_travel%></span>
            </td>
            <td>
              <label>Willing to Relocate</label><span class="input-xlarge uneditable-input"><%= @interviewee.willing_relocate%></span>
            </td>
        </tr>
        <tr>
            <td>
              <label>Job Nature</label><span class="input-xlarge uneditable-input"><%= @interviewee.job_nature%></span>
            </td>
            <td>
              <label>Language</label><span class="input-xlarge uneditable-input"><%= @interviewee.language%></span>
            </td>
        </tr>
        <tr>
            <td>
              <label>Remarks</label><span class="input-xlarge uneditable-input"><%= @interviewee.remark%></span>
            </td>
        </tr>
      </table>
    </div>

    </div>
    </div>
    </div>
  </div>
</div>