<div class="container-fluid">
  <div class="row-fluid">
    <%= render 'layouts/sidebar' %>

    <div class='span9'>
    <div class='row-fluid'>
    <div class='content' data-pjax-container>

    <%= render 'form_company_nav' %>
    
    <div class='fieldset'>
      <h5>
        Are you sure you want to delete this company
        &ldquo;<strong><%= @company.name %></strong>&rdquo;<span></span>?
      </h5>
      <ul>
        <li style='display:block; margin-top:10px'>
          <span class='label'>Company:</span>
          <a href="/company/<%= @company.name %>"><%= @company.name %></a>
          <span class='label'>Address:</span>
          <a href="/company/<%= @company.address %>"><%= @company.address %></a>
          <ul>
            <li>
              Contact Person: <%= @company.contact_person %>
            </li>
          </ul>
        </li>
      </ul>
      <form accept-charset="UTF-8" action="/companies/<%= @company.id %>" class="edit_field_test" id="edit_field_test_266" method="post">
        <div style="margin:0;padding:0;display:inline">
          <input name="utf8" type="hidden" value="&#x2713;" />
          <input name="_method" type="hidden" value="delete" />
          <input name="authenticity_token" type="hidden" value="0UTwbCuEswcg2qneimJB7G+MlZggc9pDPuwFnfqZ+z4=" />
        </div>
      <input name='return_to' type='hidden'>
      <div class='form-actions'>
      <button class='btn btn-danger' data-disable-with="Yes, I'm sure" type='submit'>
      <i class='icon-white icon-ok'></i>
      Yes, I'm sure
      </button>
      <button class='btn' data-disable-with='Cancel' name='_continue' type='submit'>
      <i class='icon-remove'></i>
      Cancel
      </button>
      </div>
      </form>
    </div>

    </div>
    </div>
    </div>
  </div>
</div>